/* Reset any default styles */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: left;
}

.parallax-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
